@import "tailwindcss";

/* .animation-label {
  @apply absolute left-4 transform text-slate-500 translate-y-0 text-md transition-all peer-not-placeholder-shown:-translate-y-7 peer-not-placeholder-shown:bg-white peer-not-placeholder-shown:left-2 peer-not-placeholder-shown:px-2 peer-not-placeholder-shown:text-orange-500 peer-not-placeholder-shown:text-md peer-focus:-translate-y-7 peer-focus:px-2 peer-focus:bg-white peer-focus:left-2 peer-focus:text-xs peer-focus:text-orange-500;
}
.animation-input {
  @apply peer w-full h-14 rounded-xl border border-slate-300 px-4 outline-none focus:border-orange-400 not-placeholder-shown:border-orange-400;
} */

::-webkit-scrollbar {
  display: none;
}

.navbar {
  transform: translateX(100%);
}

.navbar.show {
  animation: navbarShow 0.5s ease forwards;
}

.navbar.hide {
  animation: navbarHidden 0.2s ease forwards;
}

@keyframes navbarShow {
  0% {
    transform: translateX(200%);
  }

  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(50%);
  }
}

@keyframes navbarHidden {
  0% {
    transform: translateX(50%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(200%);
  }
}
