@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

::-webkit-scrollbar {
  display: none;
}

.navbar {
  transform: translateX(100%);
}

.navbar.show {
  animation: navbarShow 0.5s ease forwards;
}

.navbar.hide {
  animation: navbarHidden 0.2s ease forwards;
}

@keyframes navbarShow {
  0% {
    transform: translateX(200%);
  }

  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(50%);
  }
}

@keyframes navbarHidden {
  0% {
    transform: translateX(50%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(200%);
  }
}
